* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%
}

body {
    font-family: Muli, Helvetica, Arial, sans-serif;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    
    background-color: #f4f4f4;
   
}

a {
    color: #fdcc52;
    transition: all .35s
}

a:focus,
a:hover {
    color: #fcbd20
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, .1)
}


hr.light {
    border-color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Catamaran, Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1px
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px
}

li {
    text-decoration: none;
    list-style-type: none;
}

.dark {
    color: #0A3D62;
}

.green {
    color: #43BE31;
}

.danger {
    color: #FF3031;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.navbar {
    background-color: white;
}


.sidebar {
    background-color: #4484f4;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    min-width: 250px;
}

.sidebar-content {
    padding: 8px;

    overflow-x: hidden;
}

.sidebar[aria-hidden="true"] {
    transition: 200ms;
    transform: translateX(-100%);
}

.sidebar:not([aria-hidden]),
.sidebar[aria-hidden="false"] {
    transition: 200ms;
    transform: translateX(0);
}

.sidebar li {
    margin-top: 40px;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.sidebar li:hover {
    background-color: white;
    color: #223322;
}

.content {
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 50px;
}

.data-section {
    margin-top: 50px;
}

.tally-container {
    margin-top: 20px;
}

.tally-type {
    text-align: center;
    letter-spacing: 2px;
    font-size: 44px;
    font-weight: 400;
}

.tally {
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2.5px;
  
}

.map-container {
  
    border: 2px solid black;
    min-height: 500px;

}

